$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #000000;
$text-color-withe: #ffffff;
$text-color-hover: #504d49;
$text-disabled-color: #aaaaaa;
$background-color: #ffffff;
$border-color: #363331;
$button-default: #1b1a18;
$button-hover: #282624;
$button-disabled: #e9ecef;
$button-red: #ff0000;
$button-disabled-color: #282624;

$font-family:  Helvetica Neue;
$font-size-base: 16px;
$line-height: 1.5;

$spacing-esmall: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-64: 64px;
$spacing-72: 72px;
$spacing-80: 80px;
$spacing-88: 88px;
$spacing-96: 96px;
$spacing-100: 100px;
