@use '../styles/variables.scss' as *;
@use '../styles/mixins.scss' as *;

.layout {
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    padding: $spacing-medium $spacing-100;

    span {
      cursor: pointer;
    }
 
    @include mq('tablet') {
      padding: $spacing-large $spacing-40;
    }

    @include mq('mobile') {
      padding: $spacing-medium $spacing-large;
    }
  }
}
