@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.storage {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border: 0.5px solid  rgba(204, 204, 204, 1);
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  width: 95px;
  height: 65px;
  background: transparent;
  color: $text-color;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.93px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.storage--selected {
  border: 0.5px solid $border-color;
}
